prSections:
  - title: My Pull Requests
    filters: is:open author:@me
  - title: Needs My Review
    filters: is:open review-requested:@me
  - title: Involved
    filters: is:open involves:@me -author:@me
issuesSections:
  - title: My Issues
    filters: is:open author:@me
  - title: Assigned
    filters: is:open assignee:@me
  - title: Involved
    filters: is:open involves:@me -author:@me
defaults:
  preview:
    open: true
    width: 100
  prsLimit: 20
  issuesLimit: 20
  view: prs
  layout:
    prs:
      updatedAt:
        width: 7
      repo:
        width: 15
      author:
        width: 15
      assignees:
        width: 20
        hidden: true
      base:
        width: 15
        hidden: true
      lines:
        width: 16
    issues:
      updatedAt:
        width: 7
      repo:
        width: 15
      creator:
        width: 10
      assignees:
        width: 20
        hidden: true
  refetchIntervalMinutes: 30
keybindings:
  universal: []
  branches: []
  issues:
    # Edit issue in Neovim with Octo.nvim
    - key: e
      command: >
        tmux new-window -c {{.RepoPath}} 'nvim -c ":silent Octo issue edit {{.IssueNumber}}"'
    # Create new issue in Neovim
    - key: i
      command: >
        tmux display-popup -d {{.RepoPath}} -w 80% -h 90% -E 'nvim -c ":silent Octo issue create"'
  prs:
    # Edit PR in Neovim with Octo.nvim
    - key: O
      command: >
        tmux new-window -c {{.RepoPath}} 'nvim -c ":silent Octo pr edit {{.PrNumber}}"'
# Map GitHub repos to local directories for quick navigation
repoPaths:
  kriscard/dotfiles: ~/.dotfiles
  kriscard/*: ~/projects/*
  roofr/roofr: ~/Code/roofr-dev/roofr
theme:
  ui:
    table:
      showSeparator: true
      compact: false
  colors:
    text:
      primary: "#cad3f5"
      secondary: "#c6a0f6"
      inverted: "#181926"
      faint: "#b8c0e0"
      warning: "#eed49f"
      success: "#a6da95"
      error: "#ed8796"
    background:
      selected: "#363a4f"
    border:
      primary: "#c6a0f6"
      secondary: "#494d64"
      faint: "#363a4f"
pager:
  diff: delta
confirmQuit: false
